<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnError="true"
  stopOnFailure="true"
  verbose="true">

  <testsuites>
    <testsuite name="CRUD">
      <directory suffix="Test.php">.</directory>
      <exclude>bundles</exclude>
      <exclude>frameworks</exclude>
      <exclude>vendor</exclude>
    </testsuite>
  </testsuites>

</phpunit>
