<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnFailure="true"
         verbose="true">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
