ul.chooser {
  margin: 6px 2px;
  list-style: none; }
  ul.chooser li {
    margin: 2px;
    padding: 3px 5px;
    border: 1px solid #ccc; }

.crud-record-item {
  position: relative;
  box-shadow: 1px 1px 5px rgba(120, 120, 120, 0.2); }
  .crud-record-item.add {
    cursor: pointer; }
    .crud-record-item.add:hover {
      background: rgba(124, 188, 59, 0.5); }
  .crud-record-item.is.text-cover {
    position: relative;
    padding: 5px 5px 5px 12px;
    border-left: 5px solid #009688;
    overflow: hidden;
    margin-bottom: 5px; }
    .crud-record-item.is.text-cover.add {
      border: 0; }
    .crud-record-item.is.text-cover .date-label {
      background: #009688;
      position: absolute;
      top: 0;
      right: 10%;
      background: #009688;
      position: absolute;
      top: 0;
      right: 10%;
      padding: 2px 10px;
      font-size: 10px;
      color: #f0f0f0;
      border-radius: 0 0 5px 5px;
      box-shadow: 1px 0 5px rgba(100, 100, 100, 0.5); }
      .crud-record-item.is.text-cover .date-label .date {
        font-weight: bold; }
    .crud-record-item.is.text-cover .item-header .title {
      font-size: 2em;
      line-height: 140%;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      margin-top: 3px; }
    .crud-record-item.is.text-cover .item-header .subtitle {
      margin-top: 3px;
      text-transform: uppercase; }
    .crud-record-item.is.text-cover .item-desc {
      margin-top: 10px;
      color: #a0a0a0;
      max-width: 380px;
      padding: 0; }
    .crud-record-item.is.text-cover .item-footer {
      padding: 0;
      margin-top: 10px;
      color: #a0a0a0; }
      .crud-record-item.is.text-cover .item-footer .column {
        float: left;
        margin-right: 10px; }
      .crud-record-item.is.text-cover .item-footer .btn-group {
        margin: 0; }
      .crud-record-item.is.text-cover .item-footer .btn {
        margin: 0; }
      .crud-record-item.is.text-cover .item-footer .controls {
        transition: transform ease 500ms;
        transform: translateX(200px); }
    .crud-record-item.is.text-cover:hover .item-footer .controls {
      transform: translateX(0); }
    .crud-record-item.is.text-cover .text {
      line-height: 18px;
      vertical-align: middle;
      display: inline-block; }
    .crud-record-item.is.text-cover .tag {
      display: inline-block;
      background: #f0f0f0;
      border-radius: 7px;
      padding: 0 5px;
      line-height: 18px;
      vertical-align: middle; }
  .crud-record-item.block {
    display: block;
    margin-bottom: 5px; }
  .crud-record-item.float {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px; }
  .crud-record-item .remove-btn {
    background: rgba(200, 200, 200, 0.3);
    transition: all ease 500ms;
    color: #000;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 6px;
    text-align: center; }
  .crud-record-item:hover .remove-btn {
    background: rgba(255, 255, 255, 0.6); }
  .crud-record-item:hover .remove-btn:hover {
    background: white; }
  .crud-record-item .remove-btn .fa {
    margin: 0;
    text-align: center;
    vertical-align: middle; }

/*# sourceMappingURL=crud.css.map */
