{# 
vim:filetype=htmldjango: 
#}
{% import '@CoreBundle/phifty/forms.html' as forms %}
{% set frag_serial = "region~" ~ random() %}
{% set editRegionId = "crud-edit-" ~ frag_serial %}
{% set resultContainerId = "result-container-" ~ frag_serial %}

{% if Request.param('no_wrapper') %}
    <div id="{{ editRegionId }}" class="crud-edit crud-edit-{{ CRUD.Record.id|default('create') }}">
    {{ CRUD.Action.asView('AdminUI\\Action\\View\\StackView',{
        close_button: false,
        ajax: true
    }).render|raw}}
    </div>
{% else %}
    <div id="{{ editRegionId }}" class="crud-edit crud-edit-{{ CRUD.Record.id|default('create') }}">
        {% block section_body %}
            {{ CRUD.Object.getActionView.render()|raw }}
        {% endblock %}
    </div>
{% endif %}

{% block init_js %}
{% endblock %}
