{# 
vim:filetype=htmldjango:
#}
{% block top_section %}
<div class="control-section">
{% block crud_control_section %}
    {% if not Bundle.config.hide_create %}
        {% if CRUD.Object.canCreate %}
            {# append a region after current parent div.section, if user clicks "Create" #}
            <button type="button" 
                class="btn record-create-btn"
                data-create-region-url="{{ CRUD.Object.getCreateRegionPath() }}">
            {{CRUD.Object.getCreateButtonLabel()}}
            </button>
            <script>
            $(function() {
                $(document).on('click','.record-create-btn',function() {
                    Region.after($(this).parents('.section').get(0), $(this).data('create-region-url')); 
                    return false;
                });
            });
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
</div>
{% endblock %}

{% if tiles %}
    {% for tile in tiles %}
        {{ tile | raw }}
    {% endfor %}
{% endif %}
