<fieldset>
  <div>
  {{CRUD.Action.renderField('created_on')|raw}}
  {{CRUD.Action.renderField('created_by')|raw}}
  </div>

  <div>
  {{CRUD.Action.renderField('updated_on')|raw}}
  {{CRUD.Action.renderField('updated_by')|raw}}
  </div>
</fieldset>
